[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "==0.3.26"
langchain-community = "==0.3.27"
langchain-huggingface = "==0.3.0"
faiss-cpu = "==1.11.0"

[dev-packages]

[requires]
python_version = "3.12"
